/* .hide {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .bg {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal_box {
  position: absolute;
  background-color: #FFFFFF;
  height: 200px;
  width: 400px;
}

.modal_box button {
  display: block;
  width: 80px;
  margin: 0 auto;
} */

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .contents {
  height: 40%;
  width: 50%;
  border: 1px solid rgb(184, 184, 184);
  border-radius: 20px;
  box-shadow: 0 0 1px #000;
}

.container .contents .select_view {
  height: 14%;
  width: 100%;
  /* background-color: brown; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.container .contents .select_view .title {
  margin: 0 0 0 4%;
}

.container .contents .select_view .view {
  height: 90%;
  width: 10%;
  margin: 0 0.5% 0 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 2% 0 0;
}

.container .contents .select_view .view .fa-solid {
  font-size: 20px;
}

.container .contents .student_list_wrapper {
  height: 86%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.container .contents .student_list_wrapper .student_list_card_view {
  height: 96%;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  overflow: scroll;
  -ms-overflow-style: none;
}
.container
  .contents
  .student_list_wrapper
  .student_list_card_view::-webkit-scrollbar {
  display: none;
}

.container .contents .student_list_wrapper .student_list_card_view .student {
  height: 55%;
  width: 32.3%;
  /* background-color: red; */
  margin: 1% 0.5%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container
  .contents
  .student_list_wrapper
  .student_list_card_view
  .student
  .student_image {
  height: 70%;
  width: 65%;
  background-color: #ffe3ff;
  border-radius: 20px;
}

.container
  .contents
  .student_list_wrapper
  .student_list_card_view
  .student
  .student_text {
  height: 15%;
  width: 70%;
  background-color: #f2ecff;
  margin-top: 4%;
  border-radius: 10px;
  text-align: center;
}

.container .contents .student_list_wrapper .student_list_list_view {
  height: 96%;
  width: 95%;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  overflow: scroll;
  -ms-overflow-style: none;
}
.container
  .contents
  .student_list_wrapper
  .student_list_list_view::-webkit-scrollbar {
  display: none;
}

.container .contents .student_list_wrapper .student_list_list_view .student {
  height: 16%;
  width: 100%;
  /* background-color: red; */
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5% 0;
  z-index: 999;
}

.container
  .contents
  .student_list_wrapper
  .student_list_list_view
  .student
  .student_image {
  height: 80%;
  width: 10%;
  background-color: #ffe3ff;
  border-radius: 10px;
}

.container
  .contents
  .student_list_wrapper
  .student_list_list_view
  .student
  .student_text {
  height: 80%;
  width: 50%;
  background-color: #f2ecff;
  border-radius: 10px;
  text-align: center;
}

.hide {
  display: none;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background: transparent;
  overflow: hidden;
  border-radius: .2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: inline-block;
  height: 3em;
  width: 10em;
  line-height: 3em;
  border-radius: 1.5em;
  
  font-weight: 700;
  background: #34383c;
  cursor: pointer;
  user-select: none;
  
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.modal .inside { 
  opacity: 0;
  display: none;

  width: 85%;
  height: 85%;
  justify-content: space-between;
  align-items: flex-start;
  
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.inside p {
  color: #FFFFFF;
}

.inside .btn-close {  
  background: #FFFFFF;
  font-size: .8em;
  text-align: center;
  
  height: 3em;
  width: 3em;
  line-height: 3em;
  border-radius: 3em;
  cursor: pointer;

}

#modalToggle:checked ~ .modal .btn-open {
  animation-name: btnExpand;
}
#modalToggle:checked ~ .modal .inside {
  display: flex;
  animation-name: delayedFadeIn;
}


@keyframes btnExpand {
  /* 15% {
    color: transparent;
    width: 10em;
  } */
  /* 35% {
    width: 3em;
    height: 3em;
    border-radius: 9999px;
    margin: 0;
  } */
  to {
    width: 90%;
    height: 90%;
    border-radius: 20px;
    color: transparent;
  }
}

@keyframes delayedFadeIn {
  from {
    opacity: 0
  }
  55% {
    opacity: 0
  }
  75% {
    opacity: 1
  }
  to {
    opacity: 1
  }
}